# make_column_transformer

In [18]:
#import paskages 
import numpy as np 
import pandas as pd 

from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder , StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score

In [19]:
#data 
data = {
    'age': [25, 30, 35, 40, 45],
    'income': [50000, 60000, 75000, 80000, 90000],
    'gender': ['M', 'F', 'M', 'M', 'F'],
    'education': ['Graduate', 'Undergraduate', 'Graduate', 'PhD', 'Undergraduate'],
    'target': [0, 0, 1, 1, 1]
}

df = pd.DataFrame(data)
df

   age  income gender      education  target
0   25   50000      M       Graduate       0
1   30   60000      F  Undergraduate       0
2   35   75000      M       Graduate       1
3   40   80000      M            PhD       1
4   45   90000      F  Undergraduate       1

In [20]:
# Separate features and target
X = df.drop('target', axis=1)
y = df['target']

In [21]:
# Split the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
# Create individual transformers
numerical_cols = ['age', 'income']
categorical_cols = ['gender', 'education']

In [23]:
numerical_transformer = StandardScaler()
categorical_transformer = OneHotEncoder()

In [24]:
preprocessor = make_column_transformer(
                (numerical_transformer , numerical_cols),
                (categorical_transformer  ,categorical_cols))

In [25]:
pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('classifier', LogisticRegression())
])

In [30]:

# Fit the pipeline on the training data
pipeline.fit(X_train, y_train)

# Make predictions on the test data
y_pred = pipeline.predict(X_test)
y_pred

array([1], dtype=int64)

In [31]:
# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.00

In [32]:
X_test

   age  income gender      education
1   30   60000      F  Undergraduate

In [33]:
y_test

1    0
Name: target, dtype: int64